        <!-- FIXED FOOTER -->
        <footer class="h-[6.5rem] bottom-0 w-full mx-auto mt-auto">
            <section class="flex h-[6.5rem] justify-between text-white text-2xl bg-rose-300 flex-wrap">
                <section class="m-4">
                    <a href="/feed"><i class="fa-solid fa-house border-2 border-white border-solid p-5 rounded-full"></i></a>
                </section>
                <!-- <section class="footerNavItem">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </section> -->
                <!-- <section class="m-4">
                    <a href="/addPost"><i class="fa-solid fa-plus border-2 border-white border-solid p-5"></i></a>
                </section> -->
                <!-- <section class="footerNavItem">
                    <i class="fa-regular fa-heart"></i>
                </section> -->
                <section class="m-4">
                    <a href="#top"><i class="fa fa-arrow-up border-2 border-white border-solid p-5 cursor-pointer scroll-auto "></i></a>
                </section>
                <section class="m-4">
                    <a href="/profile"><i class="fa-regular fa-user border-2 border-white border-solid p-5 rounded-full"></i></a>
                </section>
            </section>
            <p class="text-center text-white bg-rose-300">&copy; <a href="https://codebymatthew.com" target="_blank">codebymatthew 2022</a></p>
        </footer>
        <!-- flobite js -->
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
        <!-- main js -->
        <!-- <script src="./js/main.js"></script> -->
    </body>
</html>