        <!-- FIXED FOOTER -->
        <footer>
            <section class="footerNav">
                <section class="footerNavItem">
                    <a href="/feed"><i class="fa-solid fa-house"></i></a>
                </section>
                <!-- <section class="footerNavItem">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </section> -->
                <section class="footerNavItem">
                    <a href="/addPost"><i class="fa-solid fa-plus"></i></a>
                </section>
                <!-- <section class="footerNavItem">
                    <i class="fa-regular fa-heart"></i>
                </section> -->
                <section class="footerNavItem">
                    <a href="/profile"><i class="fa-regular fa-user"></i></a>
                </section>
            </section>
        </footer>

        <script src="./js/main.js"></script>
    </body>
</html>