        <!-- FIXED FOOTER -->
        <footer class="h-[6.5rem] bottom-0 fixed w-full mx-auto">
            <section class="flex h-[6.5rem] justify-between text-white text-2xl md:w-3/4 bg-rose-300">
                <section class="m-4">
                    <a href="/feed"><i class="fa-solid fa-house border-2 border-white border-solid p-5 rounded-full"></i></a>
                </section>
                <!-- <section class="footerNavItem">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </section> -->
                <!-- <section class="m-4">
                    <a href="/addPost"><i class="fa-solid fa-plus border-2 border-white border-solid p-5"></i></a>
                </section> -->
                <!-- <section class="footerNavItem">
                    <i class="fa-regular fa-heart"></i>
                </section> -->
                <section class="m-4">
                    <a href="/profile"><i class="fa-regular fa-user border-2 border-white border-solid p-5 rounded-full"></i></a>
                </section>
            </section>
        </footer>
        <!-- <script src="./js/main.js"></script> -->
    </body>
</html>