        <!-- FIXED FOOTER -->
        <footer class="bg-rose-300 h-34 fixed bottom-0 w-full">
            <section class="footerNav flex justify-between text-white text-4xl">
                <section class="footerNavItem m-5 border-2 border-white border-solid p-5">
                    <a href="/feed"><i class="fa-solid fa-house"></i></a>
                </section>
                <!-- <section class="footerNavItem">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </section> -->
                <section class="footerNavItem m-5 border-2 border-white border-solid p-5">
                    <a href="/addPost"><i class="fa-solid fa-plus"></i></a>
                </section>
                <!-- <section class="footerNavItem">
                    <i class="fa-regular fa-heart"></i>
                </section> -->
                <section class="footerNavItem m-5 border-2 border-white border-solid p-5">
                    <a href="/profile"><i class="fa-regular fa-user"></i></a>
                </section>
            </section>
        </footer>
        <script src="./js/main.js"></script>
    </body>
</html>