        <!-- FIXED FOOTER -->
        <footer>
            <section class="footerNav">
                <section class="footerNavItem">
                    <i class="fa-solid fa-house"></i>
                </section>
                <section class="footerNavItem">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </section>
                <section class="footerNavItem">
                    <i class="fa-solid fa-plus"></i>
                </section>
                <section class="footerNavItem">
                    <i class="fa-regular fa-heart"></i>
                </section>
                <section class="footerNavItem">
                    <i class="fa-regular fa-user"></i>
                </section>
            </section>
        </footer>

        <script src="./js/main.js"></script>
    </body>
</html>