<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONT ICONS -->
        <script src="https://kit.fontawesome.com/db349aca81.js" crossorigin="anonymous"></script>
        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- TailWind -->
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Stitched to Death</title>
    </head>
    <body class="flex flex-col h-screen justify-between md:w-3/4 mx-auto min-h-100vh">
    <!-- Hamburger Menu -->
    <header class="bg-rose-300 h-[6.5rem] w-full self-center">

        <nav class="flex">
            <!-- <i class="fa-solid fa-bars nav-fa"></i> -->
            <p class="text-[3rem] text-center font-bold mt-6 w-full font-serif"><a href="/feed">Stitched To Death</a></p>
            <!-- <i class="fa-solid fa-bell nav-fa"></i> -->
        </nav>
    </header>