<%- include('partials/header') %>

<section class="miniNav">
    <a href="#" class="miniLink">Social</a>
    <a href="#" class="miniLink">Events</a>
    <a href="#" class="miniLink">Stores</a>
</section>
<section class="stories">
    <section class="story">
        <img src="imgs/circle1.jpg" alt="">
    </section>
    <section class="story">
        <img src="imgs/circle2.jpg" alt="">
    </section>
    <section class="story">
        <img src="imgs/circle3.jpg" alt="">
    </section>
    <section class="story">
        <img src="imgs/circle4.jpg" alt="">
    </section>
</section>



<%- include('partials/footer') %> 